<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Top News</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Top News</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/press.jpg')">
    <div class="overlay"></div>
      <div id = "slides" class="carousel slide" data-ride = "carousel">
	    <ul class="carousel-indicators">
		  <li data-target = "#slides" data-slide-to = 0 ></li>
		  <li data-target = "#slides" data-slide-to = 0 class="active"></li>
		  <li data-target = "#slides" data-slide-to = 0 ></li>  
		 </ul>
		<div class="carousel-inner" >
			  <div class="carousel-item active text-center" style="max-height:500px; min-height:500px; padding-top: 12%;">
			    <h1 class="text-light" th:text="${newsList[0].title}"></h1>
			    <p class="text-light" th:text="${newsList[0].description}"></p>
			  </div>
			  <div class="carousel-item text-center" style="max-height:500px; min-height:500px;  padding-top: 12%;">
			    <h1 class="text-light" th:text="${newsList[1].title}"></h1>
			    <p class="text-light" th:text="${newsList[1].description}"></p>
			  </div>
		  </div>
	  </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-11 col-md-10 mx-auto">
       	<div class="row" th:each="news: ${newsList}">
      		<!-- <div class="col-md-4">
      			<div class="border w-100 h-100" th:style="'background-image: url(' + ${news.imagePath} + ');'"></div>
      		</div>-->
      		 <div class="col">
      			  <div class="post-preview">
			          <a th:href="${news.link}">
			            <h2 class="post-title" th:text="${news.title}">
			              Man must explore, and this is exploration at its greatest
			            </h2>
			            <h3 class="post-subtitle" th:text="${news.description}">
			              Problems look mighty small from 150 miles up
			            </h3>
			          </a>
			        </div>
			        <hr>
      		</div>      		
      	</div>
        
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; Top News 2019</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>

</body>

</html>
